@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    display: flex;
    font-size: 22px;
    line-height:64px;
    width: 100%;
    background-color: theme(colors.primary);
}



.navbar-logo-container {
    display: flex;
    align-items: center;
    width: 64px;
    height: 64px;
}

.navbar-logo {

    height: 50px;
}



.navbar-link-container{
    display: flex;
}

.navbar-link {
    height: 64px;
    padding-left: 7px;
    padding-right: 7px;
}